<div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px;"></div>
<div class="middle-container">
  <div class="left_box_4">
    <br/>
    <h2><b>Publish News</b></h2>

    <%= simple_form_for @news, :url => "/news", :html => {:class => "forms", :multipart => true }  do |f| %>
      <error></error>

      <div class="input_left_ex">Headline:</div>
      <div class="input_right_ex">
        <%= f.input :headline, :label => false%>
      </div>
      <div class="clear-both"></div>

      <div class="input_left_ex">Category:</div>
      <div class="input_right_ex">
        <%= f.association :category, :label => false, :wrapper_html => {:class => "first"} %>
      </div>
      <div class="clear-both"></div>

      <div class="input_left_ex">Summary:</div>
      <div class="input_right_ex">
        <%= f.input :summary, :label => false, :as => :text, :input_html => { :cols => 50, :rows => 8 }%>
      </div>
      <div class="clear-both"></div>

      <div class="radio_options">
        <input type="radio" name="mltimedia_content" checked="checked" class="select_photo mltimedia_content" id="select_photo"/><label for="select_photo" class="select_photo">I have Photo to upload</label>
        <input type="radio" name="mltimedia_content" class="select_youtube mltimedia_content" id="select_youtube"/><label for="select_youtube" class="select_youtube">I have YouTube URL</label>
        <input type="radio" name="mltimedia_content" class="select_embed_vedio mltimedia_content" id="select_embed_vedio"/><label for="select_embed_vedio" class="select_embed_vedio">I have embed Video</label>
        
      </div>
      <div class="clear-both"></div>

      <div class="multimedia_photo">
        <div class="input_left_ex">Photo:</div>
        <div class="input file">
          <input type="file" name="publish_news[news_pic]" id="publish_news_news_pic" class="file" />
        </div>
        <div class="clear-both"></div>
      </div>


      <div class="multimedia_embedded_video" style="display:none">
        <div class="input_left_ex">Embed video:</div>
        <div class="input_right_ex">
          <%= f.input :embedded_video, :label => false, :as => :text, :input_html => { :cols => 50, :rows => 5 }%>
        </div>
        <div class="clear-both"></div>
      </div>

      <div class="multimedia_youtube" style="display:none">
        <div class="input_left_ex">Youtube URL:</div>
        <div class="input_right_ex">
          <%= f.input :youtube_url, :label => false, :input_html => {:style => "height:28px;"}%>
        </div>
        <div class="clear-both"></div>
      </div>

      <input type="image" style="height:29px; width:84px; border:none; margin-left:180px;" src="/assets/web/review.jpg" name="button"/>
      &nbsp; &nbsp;
      <input type="image" style="height:29px; width:84px; border:none; margin-left:10px;" src="/assets/web/publish.jpg" name="button"/>

    <%end%>
  </div>

  <div class="left_box_2 h1"></div>
  <div>
    <div style="clear:both;"></div>
     <div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px; margin-top:20px;"></div>
  </div>
  <div style="clear:both;"></div>
</div>


<script type="text/javascript">
  $("input.mltimedia_content").click(function(){
    $(".multimedia_photo").hide();
    $(".multimedia_youtube").hide();
    $(".multimedia_embedded_video").hide();
    
    if($(this).hasClass("select_photo")){
      $(".multimedia_photo").show();
    }else if($(this).hasClass("select_youtube")){
      $(".multimedia_youtube").show();
    }else{
      $(".multimedia_embedded_video").show();
    }
    //return false;
  })
</script>