<div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px;"></div>
<div class="middle-container">

  <br/>
  <h2><%=@news.headline%></h2><br />

  
    <% if @news.news_pic.exists? then %>
      <div class="news_pic"><%= image_tag @news.news_pic.url(:small) %></div>
    <%elsif !@news.youtube_url.blank?%>
      <div class="news_pic" style="height:315px;width:560px">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=@news.youtube_url%>" frameborder="0" allowfullscreen></iframe>
      </div>
    <%elsif !@news.embedded_video.blank?%>
      <div class="news_pic" style="height:315px;width:560px">
        <%= raw @news.embedded_video%>
      </div>
    <% end %>
  
  <div class="news_summary">
    <%=@news.summary %>
  </div>

  <br />


  <% if(!signed_in?) %>
    <div class="left_box_2 h1" id="sign_in_box" style="display:none;">
      <%= render :partial => 'sessions/login' %>
    </div>
    <div class="right_box_2">
      <%= link_to "Like", "#", :onclick => "$('#sign_in_box').show();$('#user_email').focus();return false;"%>
    </div>
  <%else%>
    <%if not_like_yet?(@news)%>
      <div class="right_box_2">
        <%= link_to "Like", "#", :onclick => "return likeNews('#{like_news_path(@news)}', this);"%>
      </div>
    <%end%>
  <%end%>

 <!--
 <div style="clear:both; margin-bottom:10px;"></div>
 <div class="input_left">Comment:</div> <div class="input_right"><input name="" type="textarea" style="width:850px; line-height:40px" /></div>
 <div style="clear:both; margin-bottom:10px;"></div>
 <input name="button" type="image" src="images/post.jpg" style="height:29px; width:84px; border:none; margin-left:102px;"/>
 -->

</div>
<div style="background-image:url(/assets/web/line.jpg); background-repeat:repeat-x; height:1px; width:943px; padding-bottom:20px;"></div>

